.video-container {
  position: relative;
  padding: 10px;
  font-family: Helvetica;
  font-size: 11px;
  height: 100%;
  width: 100%;
}

.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.play-pause-inner {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.play-pause-icon {
  position: absolute;
  top: 50%;
  right: 0;
  left: 50%;
  margin-left: -20px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  fill: '#fff';
}

.multi-choice {
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 0;
  left: 75%;
  z-index: 2;
}

.multi-choice-button {
  padding: 10px;
  z-index: 2;
}

.video {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 34px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
}

.seek {
  flex-grow: 1;
}

.component:hover .controls {
  opacity: 1;
}


